/* Full height row and columns */
.full-height-row {
  display: flex;
  align-items: stretch; 
}

.full-height-col {
  display: flex;
  flex-direction: column;
  height: 100%; 
}

.reservation-form,
.opening-times {
  flex: 1; 
  padding: 30px;
  display: flex;
  flex-direction: column;
  width: 100%; 
}

/* Reservation Form */
.reservation-form h2,
.opening-times h2 {
  font-size: 60px;
  color: #6e2c2c;
  margin-bottom: 30px;
}

/* Form Inputs */
.form-group label {
  font-size: 20px;
}

.form-group input {
  padding: 12px;
  border: 1px solid #555;
  font-size: 18px;
  border-radius: 4px;
  width: 100%; /* full width */
  
}
/* Book Button */
.reservation-form button {
  margin-top: auto; 
  width: 100%;
  padding: 14px;
  background-color: #6e1f1f;
  color: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
}

/* Opening Times */
.time-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
  
}

.time-row {
  display: flex;
  gap: 20px;
  font-size: 30px;
  align-items: center;
}

.time-row .day {
  width: 140px;
  
}

.time-row .times {
  color: #333;
}

.time-row .times:empty {
  color: #942929;
  font-style: italic;
}

/* Responsive */
@media (max-width: 768px) {
  .full-height-row {
    flex-direction: column;
  }

  .reservation-form,
  .opening-times {
    padding: 15px;
  }
}
