body{
  background-color: #f3f0eb;
}
.header {
  background-color: #f3f0eb;
  padding: 0 50px;
}

.nav-links a {
  font-size: 1.2rem;
  font-weight: 600;
  color: black;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}

.logo-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.logo-img {
  height: 80px; /* adjust size as needed */
  object-fit: contain;
}

/* Mobile */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    gap: 10px;
  }

  .logo-img {
    height: 60px;
  }
}
