.footer {
  background: #631512 !important;
}

/* Logo */
.footer-logo {
  max-width: 200px;
}

/* Links */
.footer-links li {
  margin-bottom: 10px; /* spacing between links */
}

.footer-links li:last-child {
  margin-bottom: 0;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

/* Subscribe section */
.footer-subscribe {
  max-width: 250px;
  width: 100%;
  text-align: left;
}

/* Button */
.dark {
  background: #000 !important;
  padding: 20px 0;
  border-radius: 0;
}

/* Mobile alignment */
@media (max-width: 767px) {
  .footer-subscribe {
    margin: 0 auto;
    text-align: center;
  }
}
