@font-face {
  font-family: "Sint Ultra Condensed";
  src: url("./assets/fonts/SintUltraCondensed.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Sint Ultra Condensed", sans-serif;
}
